# cmake related
/CMakeFiles/
/cmake_install.cmake
/Makefile
/CMakeCache.txt

.vscode/

#lib/
/lib/boost_1_71_0/
/lib/boost_1_71_0.tar.bz2
/lib/boost_1_71_0_installation/

#bin
# exclude everything
/bin/*
# exception to the rule
!/bin/README.md

#script
/script/*.pyc

#src
/src/doc/
/src/nr/

#test
/test/docking_test/
/test/script_test/
/test/profile_test/
/test/rl_score_test/
/test/lizhen/
/test/born_radius/
